@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Semico Client</h1>
  
    <form method="post" asp-controller="Home" asp-action="Index">

        <button class="btn btn-info" type="submit" name="generateBtn" value="docx"> Generate Document</button>

        <button class="btn btn-info" type="submit" name="generateBtn" value="pdf"> Generate PDF</button>
    </form>

</div>
